[submodule "sh"]
	path = sh
	url = ./
	branch = sh
[submodule "glyphs"]
	path = glyphs
	url = ./
	branch = glyphs
[submodule "intents"]
	path = intents
	url = ./
	branch = intents
[submodule "nodes/1-ts"]
	path = nodes/1-ts
	url = git@github.com:s0fractal/1-ts.git
[submodule "nodes/2-ts"]
	path = nodes/2-ts
	url = git@github.com:s0fractal/2-ts.git
